.wrapper {
 width: var(--max-width);
 display: flex;
 flex-direction: column;
 text-align: justify;
 @media (max-width: '1170px') {
  width: 100%;
}
 @media (max-width: '768px') {
  justify-content: center;
  align-items: center;
}
}
.docs {
   margin-top: 100px;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
   padding: 2rem;
   min-height: 60vh;
   @media (max-width: '767px') {
    margin-top: 20px;
  }
   &__rank {
    font-family: var(--title-font);
    font-size: var(--font-title-size);
    text-align: left;
    margin-bottom: 30px;
  }
}