.wrapper {
 width: var(--max-width);
 display: flex;
 flex-direction: column;
 text-align: justify;
}
.docs {
   margin-top: 100px;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
   padding: 2rem;
   min-height: 60vh;
   &__rank {
    font-family: var(--title-font);
    font-size: var(--font-title-size);
    text-align: left;
    font-weight: normal;
    margin-bottom: 30px;
  }
}