.footer {
   margin-top: 100px;
   padding: 60px;
   width: 100%;
   display: flex;
   justify-content: center;
   border-top: 2px solid var(--main-text-decoration-color);
   color: var(--second-text-color);
   position: relative;
   top: 0;
   left: 0;
   &__mark {
      white-space: nowrap;
      color: var(--main-text-color);
      font-family: var(--font-footer-title-font);
      font-size: 2.25rem;
      position: absolute;
      top: -55px;
      left: 50%;
      transform: translate(-50%, 0%);
      z-index: 0;
      background-color: white;
      padding: 20px;
      &::first-letter {
         font-weight: 700;
         color: var(--main-text-decoration-color);
      }
   }
}
.wrapper {
   width: var(--max-width);
   display: flex;
   justify-content: center;
   align-items: center;
}
.inner {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   &>*:not(:last-child) {
      margin-bottom: 10px;
   }
}
.items {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
   text-align: center;
   @media (max-width: '620px') {
      flex-direction: column;
   }
}
.item {
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 4px 12px;
   font-size: var(--font-small-size);
   a {
      font-size: inherit;
   }
}
.date {
   font-size: 0.875rem;
}
.point {
   @media (max-width: '620px') {
      display: none;
   }
}
