.admin {
   margin-top: 50px;
   padding: 20px;
   // display: flex;
   // flex-direction: column;
   // justify-content: space-between;
   // align-items: center;
}
.wrapper {
   // width: var(--max-width-admin);
   // display: flex;
   // flex-direction: column;
   // justify-content: center;
   // align-items: center;
}
.logo {
   // background-color: white;
   padding: 10px;
   height: 50px;
   color: white;
   text-align: center;
   margin-bottom: 15px;
}