$projectsDelay: all ease-in-out .3s;
$imgDelay: all ease-in-out .5s;
.projects {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  min-height: 100vh;
  &__title {
    font-family: var(--title-font);
    font-size: var(--font-title-size);
    text-align: left;
    margin-bottom: 20px;
  }
}
.wrapper {
  width: var(--max-width);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}