.projects {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  min-height: 60vh;
  &__title {
    font-size: var(--font-title-size);
    font-family: var(--title-font);
    margin-bottom: 20px;
    @media (max-width: '767px') {
      display: none;
     }
  }
  @media (max-width: '1150px') {
    margin-top: 20px;
   }
}
.wrapper {
  width: var(--max-width);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  @media (max-width: '1150px') {
    width: 100%;
   }
}