.about {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: var(--font-large-size);
  min-height: 60vh;
  @media (max-width: '1024px') {
    margin-top: 20px;
  }
}
.wrapper {
  width: var(--max-width);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @media (max-width: '1170px') {
    width: 100%;
  }
}
.contacts {
  width: 100%;
  margin-bottom: 100px;
  @media (max-width: '1024px') {
    margin-bottom: 60px;
  }
  &__title {
    font-family: var(--title-font);
    font-size: var(--font-title-size);
    margin-bottom: 40px;
    text-align: center;
    @media (max-width: '867px') {
      font-size: var(--font-medium-size);
     }
  }
  &__items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    justify-content: space-between;
    align-items: center;
    @media (max-width: '867px') {
      grid-template-columns: repeat(1, 1fr);
    }
  }
  &__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h3 {
      font-family: var(--title-font);
      font-size: var(--font-big-size);
    }
    p {
      color: var(--second-text-color);
      font-size: var(--font-medium-size);
    }
    & > *:not(:last-child) {
      margin-bottom: 10px;
    }
  }
}
.container {
  width: 100%;
  display: flex;
  align-items: flex-start;
  gap: 40px;
}
.management {
  width: 100%;
  margin-bottom: 100px;
  @media (max-width: '1024px') {
    margin-bottom: 60px;
  }
  &__title {
    font-family: var(--title-font);
    margin-bottom: 40px;
    font-size: var(--font-title-size);
    text-align: center;
    @media (max-width: '867px') {
      font-size: var(--font-medium-size);
     }
  }
  &__items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
    gap: 50px;
    @media (max-width: '867px') {
      grid-template-columns: repeat(1, 1fr);
    }
  }
  &__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }
  &__img {
    width: 300px;
    height: 300px;
  }
  &__inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h3 {
      font-family: var(--title-font);
      font-size: var(--font-big-size);
    }
    p {
      color: var(--second-text-color);
      font-size: var(--font-title-size);
      font-family: var(--font-main-second-title-font);
    }
    & > *:not(:last-child) {
      margin-bottom: 10px;
    }
  }
}
.coordinates {
  margin-bottom: 40px;
  font-family: var(--title-font);
  font-size: var(--font-title-size);
  text-align: center;
  @media (max-width: '867px') {
    font-size: var(--font-medium-size);
   }
}
.map {
  width: 100%;
  height: 600px;
}
