.wrapper {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: flex-start;
   width: var(--max-width);
   text-align: justify;
   @media (max-width: '1170px') {
    width: 100%;
  }
  }
  .news {
     display: flex;
     flex-direction: column;
     justify-content: space-between;
     align-items: center;
     padding: 2rem;
     min-height: 60vh;
     margin-top: 100px;
     &__rank {
      font-family: var(--title-font);
      font-size: var(--font-title-size);
      text-align: left;
      font-weight: normal;
      margin-bottom: 20px;
    }
     &__createdAt {
      font-size: var(--font-small-size);
      color: var(--second-text-color);
      margin-bottom: 15px;
     }
     &__inner {
      display: flex;
      flex-direction: column;
      gap: 15px;
     }
     &__title {
      flex: 0 1 60%;
      font-size: var(--font-big-size);
      margin-bottom: 20px;
    }
    &__content {
      flex: 0 1 40%;
      font-size: var(--font-small-size);
      color: var(--second-text-color);
      width: 900px;
      @media (max-width: '1170px') {
        width: 100%;
      }
    }
    &__gallery {
      margin-top: 50px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      gap: 50px;
    }
   }
  