
!!!! check Telegram and vidio on UlbiTV !!!

server {
        listen 80 default_server;
        listen [::]:80 default_server;

        root /var/www/html;
        index index.nginx-debian.html;

        server_name 31.129.100.225;

        location / {
           proxy_set_header X-Real-IP  $remote_addr;
           proxy_set_header Host $host;
           proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
           proxy_pass http://localhost:3000/;
        }

         location ~ \.(gif|jpg|png)$ {
                root /var/www/html/alev/public/images/;
        }
}

