:root {
  --max-width: 1100px;
  --max-width-second: 1540px;
  --max-width-admin: 1600px;

  // Шрифты
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
  "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
  "Fira Mono", "Droid Sans Mono", "Courier New", monospace;
  
  // Размеры Шрифтов
  --font-title-size: 2rem;
  --font-small-size: 0.8125rem;
  --font-line-height: 150%;
  
  // Цвета шрифта
  --main-text-decoration-color: #fcdd42;
  --second-text-color: #5d5d5d;               // +++++++++
  --second-text-decoration-color: #6b7280;      // в Footer

  // Цвета остальные
  --foreground-rgb: 0, 0, 0;            // ++++++

  // Цвет в Footer
  --second-background-color: #00000011;
  



  // Сброс стилей
  ul, ul li {
    list-style: none;
  }

}

// @media (prefers-color-scheme: dark) {
//   :root {
//     --foreground-rgb: 255, 255, 255;
//     --card-rgb: 100, 100, 100;
//     --card-border-rgb: 200, 200, 200;
//   }
// }

* {
  transition: all ease .3s;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 16px;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: rgb(var(--foreground-rgb));
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

// Header decoration
#active_link {
  position: relative;
  // padding: 10px;
  &::after {
    content: "";
    position: absolute;
    bottom: 5px;
    // left: 0px;
    width: 80%;
    height: 2px;
    background-color: black;

    left: 50%;
    transform: translateX(-50%);

    animation: underLine .2s ease-out;
  }
}

@keyframes underLine {
  0% {
    width: 0;
  }
  100% {
    width: 80%;
  }
}

.error {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &__title {
    font-size: 1.5rem;
    margin-bottom: 50px;
  }
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
