.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 60vh;
}
.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.center {
  margin-top: 280px;
  margin-bottom: 300px;
  width: var(--max-width);
  display: flex;
  gap: 10px;
  &__left {
    flex: 0 1 40%;
    h1 {
      font-size: 3.75em;
      &::first-letter {
        color: var(--main-text-decoration-color);
      }
    }
    p {
      color: var(--second-text-decoration-color);
    }
  }

  &__right {
    flex: 0 1 60%;
    align-self: flex-end;
    p {
      margin-bottom: 10px;
      text-align: justify;
    }
  }
  &__link {
    text-decoration: underline;
  }
}