.main {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 60vh;
}
.wrapper {
  display: flex;
  flex-direction: column;
}
.image {
  width: 100%;
  height: 100%;
  filter: blur(0px) opacity(60%) grayscale(10%);
  transition: filter ease 10s;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}
.center {
  height: calc(100vh - 110px);
  // height: 100vh;
  // width: var(--max-width);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  position: relative;
  top: 0;
  left: 0;

  &__wrapper {
    display: flex;
    // align-items: flex-end;
    // justify-content: center;
    flex-direction: column;
    gap: 0px;
    font-size: var(--font-main-title-size);
    position: absolute;
    top: 180px;
    left: 20%;
    // Анимация текста
    animation: clip-path-reveal-1 3s ease;

    @media (max-width: "1024px") {
      width: 100%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, calc(-50% - 80px));
    }
    //  @media (max-width: '650px') {
    //   width: 100%;
    // }
  }
  &__title {
    text-align: center;
    line-height: 150%;
    font-size: inherit;
    font-size: 4rem;
    font-family: var(--font-main-second-title-font);
    letter-spacing: 3px;
    padding: 0px 5px;
    // Анимация линии
    &:before {
      content: "";
      position: absolute;
      top: calc(100% - 2px);
      width: 100%;
      height: 4px;
      background-color: var(--main-text-decoration-color);
      transform-origin: center center;
      transform: scaleX(0);
      animation: line-animation 3s ease;

      @media (max-width: "1024px") {
        // width: 100%;
        // top: 100px;
        left: 0%;
        // transform: translate(-50%, 0%);
      }
    }
    @media (max-width: "700px") {
      font-size: 3.2rem;
    }
  }

  &__mark {
    text-align: center;
    line-height: 150%;
    font-size: 4.5rem;
    font-family: var(--font-main-title-font);
    letter-spacing: 3px;
    padding: 0px 5px;
    &::first-letter {
      color: var(--main-text-decoration-color);
    }
    @media (max-width: "700px") {
      font-size: 3.5rem;
    }
  }
  &__link {
    margin-top: 50px;
    font-size: var(--font-big-size);
    color: var(--second-text-color);
    text-decoration: underline;
  }
}
@keyframes line-animation {
  0% {
    transform: scaleX(0);
  }
  15% {
    transform: scaleX(0);
  }
  20%,
  25% {
    transform: scaleX(1);
    top: calc(100% - 2px);
  }
  50% {
    transform: scaleX(1);
    top: 0px;
  }
  80%,
  100% {
    transform: scaleX(0);
    top: 0px;
  }
}
@keyframes clip-path-reveal-1 {
  0%,
  25% {
    clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
  }
  50% {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
}
