.navigation {
   margin-bottom: 60px;
   @media (max-width: '600px') {
    display: flex;
    justify-content: center;
    align-items: center;
   }
   &__list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    color: var(--second-text-color);
    row-gap: 10px;
    column-gap: 30px;
    @media (max-width: '600px') {
      display: flex;
      justify-content: center;
      align-items: center;
     }
   }
   &__item {
    a {
      font-size: var(--font-medium-size);
    }
     cursor: pointer;
     &_active {
       text-decoration: underline;
       cursor: default;
     }
   }
 }
 