.navigation {
   margin-bottom: 60px;
   &__list {
     display: flex;
     align-items: center;
    //  width: var(--max-width);
     color: var(--second-text-color);
     &>*:not(:last-child) {
       margin-right: 30px;
     }
   }
   &__item {
     p {
       font-size: 0.875rem;
     }
     cursor: pointer;
     &_active {
       text-decoration: underline;
       cursor: default;
     }
   }
 }
 