.project {
   margin-top: 100px;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
   padding: 2rem;
   min-height: 60vh;
  //  line-height: var(--font-line-height);
   text-align: justify;
   &__rank {
    width: var(--max-width);
    font-family: var(--title-font);
    font-size: var(--font-title-size);
    text-align: left;
    font-weight: normal;
    margin-bottom: 20px;
  }
  &__table {
    margin-bottom: 60px;
  }
 }
 .wrapper {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   width: var(--max-width-second);
   &>*:not(:last-child, :first-child) {
    margin-bottom: 60px;
   }
 }
 .title {
   margin-top: 50px;
   font-size: 2rem;
   margin-bottom: 50px;
   font-weight: 500;
  line-height: var(--font-line-height);
 }
 .content {
   display: flex;
   align-items: flex-start;
   width: 100%;
   height: 100%;
  //  margin-bottom: 60px;
   display: flex;
   gap: 40px;
   line-height: var(--font-line-height);
   
   &__img {
    flex: 0 1 60%;
      img {
        object-position: top;
        object-fit: contain;
        width: 100%;
        height: 100%;
        max-height: 600px;
      }
   }
   &__inner {
      display: flex;
      flex-direction: column;
      flex: 1 1 40%;
      p {
        font-size: 1rem;
      }
   }
    &__description {
      margin-bottom: 30px;
    }
    &__autors {
      font-weight: 700;
    }
 }
 .subtitle {
   font-size: 1.5rem;
   text-align: center;
   margin-bottom: 30px;
 }
 .galery {
   width: var(--max-width-second);
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   gap: 20px;
  //  &*>:not(:last-child) {
  //   margin-bottom: 50px;
  //  }
   &__item {
   }
   img {
      width: 100%;
      height: 100%;
      object-position: center;
      object-fit: cover;
      // max-width: 600px;
      // max-height: 600px;
   }
 }