.project {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  min-height: 60vh;
  text-align: justify;
  @media (max-width: "1150px") {
    margin-top: 20px;
  }
  &__rank {
    // width: var(--max-width);
    font-family: var(--title-font);
    font-size: var(--font-title-size);
    text-align: center;
    margin-bottom: 20px;
    @media (max-width: "767px") {
      display: none;
    }
  }
  &__table {
    margin-bottom: 60px;
    width: 100%;
    overflow-x: auto;
    // white-space: nowrap;
    @media (max-width: '768px') {
      font-size: 0.875rem;
    }
  }
}
.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: var(--max-width-second);
  & > *:not(:last-child, :first-child) {
    margin-bottom: 60px;
  }
  @media (max-width: "1576px") {
    width: 100%;
  }
}
.title {
  margin-top: 50px;
  font-size: var(--font-title-size);
  margin-bottom: 50px;
  line-height: var(--font-line-height);
}
.content {
  display: flex;
  justify-content: center;
  align-items: center;
  //  align-items: flex-start;
  width: 100%;
  height: 100%;
  gap: 40px;
  line-height: var(--font-line-height);
  @media (max-width: "1024px") {
    flex-direction: column;
    gap: 0px;
  }

  &__img {
    flex: 0 1 60%;
    width: 100%;
    // width: 900px;
    @media (max-width: "1024px") {
      flex: 0 1 100%;
    }
    img {
      object-position: top;
      object-fit: contain;
      width: 100%;
      height: 100%;
      max-height: 600px;
      @media (max-width: "1024px") {
        height: 100%;
        width: 100%;
      }
    }
  }
  &__inner {
    display: flex;
    flex-direction: column;
    flex: 0 1 calc(40% - 40px);
    padding: 10px;
    p {
      font-size: var(--font-small-size);
    }
    @media (max-width: "1024px") {
      flex: 0 1 100%;
      padding: 0px;
    }
  }
  &__description {
    margin-bottom: 30px;
  }
  &__autors {
    font-weight: 700;
  }
}
.galery {
  width: var(--max-width-second);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
  & > * {
    img {
      object-position: center;
      object-fit: cover;
      width: 760px !important;
      height: 600px !important;
      // width: 100%;
      @media (max-width: '1440px') {
        width: 100% !important;
        height: 100% !important;
      }
    }
    @media (max-width: '1440px') {
      flex-direction: column;
      width: 100% !important;
    }
    @media (max-width: '1020px') {
      flex-direction: column;
      width: 100% !important;
      max-height: 400px;
    }
  }
  @media (max-width: '1024px') {
    // flex-direction: column;
    width: 100%;
  }
}
.bottomGalery {
  width: var(--max-width-second);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
  & > * {
    flex: 0 1 calc(30% - 40px);
    // overflow: hidden;
    img {
      color: blue;
      object-position: center;
      object-fit: cover;
      width: 500px !important;
      height: 300px !important;
      // width: 100%;
      @media (max-width: '1440px') {
        width: 100% !important;
        // height: 100% !important;
      }
      @media (max-width: '1024px') {
        // width: 100% !important;
        // height: 100% !important;
      }
    }
    @media (max-width: '1440px') {
      flex: 0 1 calc(50% - 20px);
      // width: 100% !important;
    }
    @media (max-width: '1020px') {
      width: 100% !important;
      max-height: 400px;
    }
    @media (max-width: '768px') {
      flex: 0 1 100%;
      // width: 100% !important;
      // max-height: 400px;
    }
  }
  @media (max-width: '1024px') {
    // flex-direction: column;
    width: 100%;
  }



  // width: var(--max-width-second);
  // display: flex;
  // flex-wrap: wrap;
  // justify-content: center;
  // align-items: center;
  // gap: 20px;
  // & > * {
  //   flex: 0 1 calc(30% - 40px);
  //   height: 300px;
  //   overflow: hidden;
  //   img {
  //     object-position: center;
  //     object-fit: cover;
  //     width: 100%;
  //     height: 100%;
  //   }
  // }
  // @media (max-width: '1440px') {
  //   width: 100%;
  // }
}
.secondContent {
  p {
    font-size: var(--font-small-size);
    line-height: var(--font-line-height);
  }
}
